.input {
  flex: 1;
  max-width: 240px;
  padding: 6px 12px;
  font-size: 16px;
  color: black;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #ffffff; /* білий фон */
}

.input:focus {
  outline: none;
  border-color: #0d6efd;
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.2);
}
